@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root {
    --color: rgb(227, 224, 9);
}
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
   /* text-transform: capitalize;*/
    transition: all .2s linear;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    background: #333;
    overflow-x: hidden;
    padding-left: 35rem;
}
section {
    min-height: 100vh;
    padding: 1rem;
}
.__container{
    width: 100%;
    height: 10px;
    margin-right: 1rem;
    border-radius: 10px;
    background-color: white;
}
.__amount{
    background-color: rgb(58, 111, 210);
    height: 100%;
    width: 50%;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
}
._label_percent{
    display: flex;
    justify-content: space-between;
    color: var(--color);
    font-size: 20px;
}
.__percent_label{
    margin-bottom: 5px;
    color: white;
}
.btn {
    padding: .7rem 3rem;
    background: var(--color);
    color: #333;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}
.btn i {
    padding: 0 .5rem;
    font-size: 1.8rem;
}
.btn:hover {
    background: #fff;
    color: #333;
}
.heading {
    text-align: center;
    margin: 0 6rem;
    text-transform: uppercase;
    font-size: 4rem;
    padding: 1rem;
    color: #fff;
    font-weight: 600;
}
.heading span {
    color: var(--color);
    text-transform: uppercase;
    font-weight: 600;
}

/* Header Section */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color);
    flex-flow: column;
    text-align: center;
}
header .user img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid #333;
}
header .user .name {
    font-size: 3.5rem;
    color: #222;
}
header .user .post {
    font-size: 2rem;
    color: #222;
}
header .navbar {
    width: 100%;
}
header .navbar ul {
    list-style: none;
    padding: 1rem 3rem;
}
header .navbar ul li a {
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
}
header .navbar ul li a:hover {
    background: #fff;
    color: #333;
}
#menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

/* Header Section Ends */

/* Home Section Starts */

.home {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}
.home h3 {
    font-size: 2.5rem;
    color: #fff;
}
.home h1 {
    font-size: 5rem;
    color: #fff;
}
.home h1 span {
    color: var(--color);
}
.home p {
    font-size: 2rem;
    color: #fff;
    padding: 1rem 0;
}

/* Home Section Ends */

/* About Section Starts */

.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}
.about .row .info {
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}
.about .row .info h3 {
    font-size: 2rem;
    color: var(--color);
    font-weight: bold;
    padding: 1rem 0;
}
.about .row .info h3 span {
    color: #fff;
    padding: 0 .5rem;
}
.about .row .counter {
    width: 60%;
    height: 50px;
    /* flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; */
}
.about .row .counter .box {
    width: 20rem;
    background: var(--color);
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}
.about .row .counter .box span {
    font-size: 4rem;
    color: #333;
}
.about .row .counter .box h3 {
    font-size: 2rem;
    color: #fff;
}

/* About Section Ends */

/* Education Section Starts */

.education .box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}
.education .box-container .box {
    width: 27rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}
.education .box-container .box span {
    font-size: 1.3rem;
    background: #fff;
    font-weight: 600;
    color: #222;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}
.education .box-container .box h3 {
    font-size: 2rem;
    color: var(--color);
    padding-top: 1.5rem;
}
.education .box-container .box p {
    font-size: 1.4rem;
    color: #fff;
    padding: 1rem 0;
}
.education .box-container .box i {
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    color: #222;
    text-align: center;
    font-size: 2rem;
    background: var(--color);
}

/* Education Section Ends */

/* Portfolio Section Starts */

/*.portfolio .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}*/
.portfolio .box-container .box {
    font-size: 18px;
    color: #fff;
    text-transform: none;
    /*height: 20rem;
    width: 26rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;*/
}
/*.portfolio .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.portfolio .box-container .box:hover img {
    transform: scale(1.2);
}

/* Portfolio Section Ends */

/* Contact Section Starts */

.contact .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.contact .row .content {
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}
.contact .row form {
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}
.contact .row form .box {
    padding: 1.5rem;
    margin: 1rem 0;
    background: rgba(239, 237, 237, 0.2);
    color: #fff;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}
.contact .row form .box::placeholder {
    text-transform: capitalize;
}
.contact .row form .message {
    height: 15rem;
    resize: none;
}
.contact .row .content .title {
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}
.contact .row .content .info h3 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    text-transform: none;
    color: #fff;
    padding: 1rem 0;
    font-weight: normal;
}
.contact .row .content .info h3 i {
    padding-right: 1rem;
    color: var(--color);
}

.__footer{
    height: 50px;
    width: 100vw;
    background-color: var(--color);
    text-align: center;
    font-size: 20px;
    color: black;
}

/* Contact Section Ends */

/* Media Queries */

@media (max-width:991px) {
    header {
        left: -120%;
    }
    #menu {
        display: block;
    }
    header.toggle {
        left: 0%;
    }
    body {
        padding: 0;
    }
}
@media (max-width:768px) {
    html {
        font-size: 50%;
    }
}
@media (max-width:400px) {
    header {
        width: 100vw;
    }
    .heading {
        margin: 0 3rem;
    }
    .about .row .counter .box {
        width: 100%;
    }
    .education .box-container .box {
        width: 100%;
    }
    .portfolio .box-container .box {
        width: 100%;
    }
    .contact .row form {
        margin: 3rem 0;
    }
}